/* resets */
header,
body,
h1,
h2,
ul {
  margin: 0;
  padding: 0;
}

header {
  padding-top: 20px;
  padding-left: 15px;
}

header h1 {
  font-size: 1em;
}

header nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

header nav ul li {
  padding-top: 15px;
}

header nav ul a {
  color: #69696a;
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9fafc;
}

main h2 {
  font-size: 2em;
  margin-left: 15px;
  margin-bottom: 30px;
}

main div p {
  color: #69696a;
}

.accent {
  background-color: #000;
  color: #fff;
  width: 90%;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 45px;
  display: flex;
  justify-content: center;
}

main a {
  text-decoration: none;
  color: #69696a;
  margin-left: 15px;
}

main div {
  margin-left: 15px;
  padding-left: 15px;
  border-left: 3px solid #69696a;
}

footer {
  position: fixed;
  bottom: 0;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(247, 193, 162, 0.7);
  width: 100%;
  display: flex;
}

footer p {
  margin: 0;
  padding-right: 20px;
}

footer ul {
  list-style: none;
  display: flex;
}

footer ul a {
  text-decoration: none;
  color: #69696a;
  padding-right: 30px;
}
