/* resets */

body,
h1,
p {
  margin: 0;
}

body {
  padding: 20px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 16px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header a {
  text-decoration: none;
  color: #69696a;
  padding: 5px 5px 5px 0;
  display: inline-block;
}

.accent {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  border-radius: 20px;
}

.call-to-action {
  border-left: 3px solid black;
  padding-left: 10px;
}

.call-to-action-link {
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  margin-top: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(247, 193, 162, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

footer nav ul {
  display: flex;
}

footer a {
  padding: 5px 0 5px 5px;
  text-decoration: none;
  color: black;
}

@media only screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  nav ul {
    display: flex;
  }

  header a {
    margin: 0px 10px 0px 10px;
  }

  main {
    width: 50%;
  }

  section h2 {
    margin-top: 25%;
  }

  .circle-1 {
    height: 250px;
    width: 250px;
    background-color: rgba(247, 136, 167, 0.6);
    border-radius: 50%;
    position: absolute;
    right: 100px;
    top: 200px;
  }

  .circle-2 {
    height: 200px;
    width: 200px;
    background-color: rgba(247, 193, 162, 0.7);
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 350px;
  }

  .circle-3 {
    height: 150px;
    width: 150px;
    background-color: rgba(207, 130, 213, 0.6);
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 250px;
  }
}
